<h1>Gerenciar itens</h1>
<div class="search-container">
  <form
    class="search-form"
    action=""
    #searchForm="ngForm"
    (ngSubmit)="onSubmit(searchForm)"
  >
    <div class="form-field-container">
      <input
        class="input"
        name="query"
        id="query"
        required
        [(ngModel)]="query"
        #queryRef="ngModel"
        placeholder="Pesquisar"
      />
    </div>

    <div class="button-container">
      <button type="button" class="cadastrar" [routerLink]="['cadastrar']">
        Cadastrar
      </button>
      <button type="submit" class="pesquisar">Pesquisar</button>
    </div>
  </form>
</div>

<h2>Resultados</h2>

<!-- Show loading spinner while fetching data -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div
  class="items-container"
  *ngIf="!loading && itens.length > 0; else noResults"
>
  <app-item-card
    *ngFor="let item of itens"
    [item]="item"
    (deleted)="removeItem($event)"
  ></app-item-card>
</div>

<!-- <app-pagination
  *ngIf="!loading && itens && itens.length > 0"
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-pagination> -->

<app-pagination
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
></app-pagination>

<ng-template #noResults>
  <h2 class="nenhum-item-encontrado">Nenhum item encontrado :(</h2>
</ng-template>
