<h1>Gerenciar Kits</h1>
<div class="search-container">
  <form
    class="login-form"
    action=""
    #searchForm="ngForm"
    (ngSubmit)="onSubmit(searchForm)"
  >
    <div class="form-field-container">
      <label class="label" for="">Nome</label>
      <input
        class="input"
        name="nome"
        id="nome"
        required
        [(ngModel)]="nome"
        #nomeRef="ngModel"
      />
    </div>

    <div class="form-field-container">
      <label class="label" for="">Nome</label>
      <input
        class="input"
        name="nome"
        id="nome"
        required
        [(ngModel)]="nome"
        #nomeRef="ngModel"
      />
    </div>

    <div class="form-field-container">
      <label class="label" for="">Nome</label>
      <input
        class="input"
        name="nome"
        id="nome"
        required
        [(ngModel)]="nome"
        #nomeRef="ngModel"
      />
    </div>

    <div class="form-field-container">
      <label class="label" for="">Nome</label>
      <input
        class="input"
        name="nome"
        id="nome"
        required
        [(ngModel)]="nome"
        #nomeRef="ngModel"
      />
    </div>

    <div class="form-field-container">
      <label class="label" for="">Nome</label>
      <input
        class="input"
        name="nome"
        id="nome"
        required
        [(ngModel)]="nome"
        #nomeRef="ngModel"
      />
    </div>

    <div class="button-container">
      <button type="submit" class="cadastrar">Cadastrar</button>
      <button type="submit" class="pesquisar">Pesquisar</button>
    </div>
  </form>
</div>

<h2>Resultados</h2>
