/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #007bff;
  --secondary-color: #f6a532;
  --apoio: #ec268f;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
