/* You can add global styles to this file, and also import other style files */

/* Aplica box-sizing a todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #f6a532;
  --apoio: #ffc8dd;
  --main: #ffafcc;
  --main-secondary: #a2d2ff;
  --main-terciary: #4caf50;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: textbook-new, sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--main-secondary);
}

@font-face {
  font-family: "waterGalon"; /* Escolha um nome para sua fonte no projeto */
  src: url("assets/fonts/WaterGalon.ttf") format("truetype"),
    /* Formato mais moderno */;
  font-weight: normal; /* Ou o peso da fonte, se aplicável */
  font-style: normal; /* Ou o estilo, como italic, se aplicável */
}
