/* Carrinho fixo à direita */
.cart-container {
  top: 0;
  height: 100vh;
  width: 30%;
  position: fixed;
  background-color: white;
  right: 0;
  z-index: 2000; /* Colocado acima do fundo e outros elementos */
  padding: 20px;
  overflow-y: auto; /* Permite rolar os itens se necessário */
}

/* Botão de fechar carrinho */
.close-cart {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid var(--main-secondary);
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
  min-height: 100px;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

/* Informações do produto */
.product-info {
  flex-grow: 1;
}

.product-info h2 {
  margin: 0;
  font-size: 18px;
}

.product-info p {
  margin: 5px 0 0;
  font-size: 16px;
  color: #555;
}

/* Ícone da lixeira maior */
.cart-item svg {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  align-self: center;
  flex-shrink: 0;
}

/* Botão de finalizar compra */
.checkout {
  margin-top: 20px;
  text-align: center;
}

.checkout button {
  background-color: white;
  font-weight: 500;
  border: 1px solid var(--main-secondary);
  color: var(--main-terciary);
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.checkout button:hover {
  background-color: var(--main-terciary);
  color: white;
  font-weight: 500;
}

/* Fundo escuro */
.background {
  z-index: 1000;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  height: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
}

.cart-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 16px;
}

.cart-header svg {
  cursor: pointer;
}

.cart-item svg {
  cursor: pointer;
}

@media (max-width: 680px) {
  .cart-container {
    width: 80%;
  }
}
