<div class="sidebar">
  <div class="sidebar-header">
    <img
      class="logo"
      src="https://dinofestas.com.br/img/LOGO%2003.png"
      alt=""
    />
  </div>
  <ul class="nav-links">
    <li class="nav-item">
      <a
        [routerLink]="['/admin/pacotes']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Gerenciar pacotes</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/admin/itens']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Gerenciar itens</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/admin/categorias']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Gerenciar categorias</a
      >
    </li>
    <li class="nav-item">
      <button (click)="sair()">
        <a>Sair</a>
      </button>
    </li>
  </ul>
</div>
