<div *ngIf="totalPages > 1" class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">
    Anterior
  </button>

  <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>

  <button
    class="next"
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage + 1 >= totalPages"
  >
    Próxima
  </button>

  <select
    [(ngModel)]="itemsPerPage"
    (ngModelChange)="onItemsPerPageChange($event)"
  >
    <option *ngFor="let option of itemsPerPageOptions" [value]="option">
      {{ option }} por página
    </option>
  </select>
</div>
