<h1>Cadastrar kit</h1>
<div class="search-container">
  <form
    class="login-form"
    action=""
    #searchForm="ngForm"
    (ngSubmit)="onSubmit(searchForm)"
  >
    <div class="form-field-container">
      <label class="label" for="">Nome</label>
      <input
        class="input"
        name="nome"
        id="nome"
        required
        [(ngModel)]="nome"
        #nomeRef="ngModel"
      />
      <app-error-message
        [control]="nomeRef"
        fieldName="nome"
      ></app-error-message>
    </div>

    <div class="form-field-container">
      <label class="label" for="">Imagens</label>
      <input
        class="input"
        name="imagens"
        id="imagens"
        type="file"
        accept="image/*"
        required
        multiple
        (change)="onFileSelected($event)"
        [(ngModel)]="imagens"
        #imagensRef="ngModel"
      />
      <app-error-message
        [control]="imagensRef"
        fieldName="imagens"
      ></app-error-message>
    </div>

    <div></div>
    <div class="button-container">
      <button type="button" class="cadastrar" [routerLink]="['/admin/kits']">
        Cancelar
      </button>
      <button type="submit" class="pesquisar">Cadastrar</button>
    </div>
  </form>
</div>

<app-sucess-popup
  [show]="showSucess"
  message="Kit criado com sucesso!"
></app-sucess-popup>
