.itens-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  justify-items: center;
  margin-top: 32px;
  margin-bottom: 32px;

  /* Verifica se estamos na rota "/pacote" */
  &.pacote-page {
    max-height: 500px;
    overflow-y: auto; /* Permite rolagem interna */
  }
}

.selected {
  background-color: #f0f0f0;
  border: 2px solid var(--main-terciary);
  box-shadow: 0 0 10px var(--main-terciary);
}

.text-container {
  min-height: 100vh;
}

@media (max-width: 680px) {
  .itens-container {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr); /* Força 2 colunas */
  }
}

@media (max-width: 420px) {
  .itens-container {
    gap: 8px;
    grid-template-columns: repeat(2, 1fr); /* Força 2 colunas */
  }
}
