<div class="itens-container" *ngIf="itens.length > 0; else noResults">
  <div
    *ngFor="let item of itens"
    (click)="onItemClick(item)"
    [ngClass]="{ selected: isSelected(item) }"
  >
    <app-item-card [item]="item"></app-item-card>
  </div>
</div>

<app-pagination
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
>
</app-pagination>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<ng-template #noResults>
  <div class="text-container">
    <h2 class="nenhum-item-encontrado">Nenhum item encontrado :(</h2>
  </div>
</ng-template>
