.itens-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  justify-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

button {
  color: red;
}

.selected {
  background-color: #f0f0f0; /* Cor de fundo para itens selecionados */
  border: 2px solid var(--main-terciary); /* Borda azul para destacar o item selecionado */
  box-shadow: 0 0 10px var(--main-terciary); /* Sombra para efeito visual */
}

.text-container {
  min-height: 100vh;
}

@media (max-width: 680px) {
  .itens-container {
    gap: 16px;
  }
}

@media (max-width: 420px) {
  .itens-container {
    gap: 8px;
  }
}
