.img-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "waterGalon", sans-serif;
  align-items: center;
  font-size: 80px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 20px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 70%, #f6a532),
    url(https://imagens-kits-dinofestas.s3.us-east-2.amazonaws.com/heroDino.jpg)
      no-repeat center center / cover;
}

.img-container span {
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
  margin-top: 80px;
}

.img-container.loaded {
  opacity: 1;
}

.hero-text {
  z-index: 2;
  animation: fadeIn 1.5s ease-in-out forwards;
  opacity: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* melhora contraste com imagem */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 8px;
}

.text-container p {
  font-size: 18px;
}

.text-container h1 {
  font-family: "waterGalon", sans-serif;
  color: #333;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */
  letter-spacing: -0.64px;
}

.pacotes .text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 8px;
  color: white;
}

.pacotes .text-container h1 {
  font-family: "waterGalon", sans-serif;
  color: white;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */
  letter-spacing: -0.64px;
}

@media (max-width: 1028px) {
  .img-container {
    font-size: 32px;
    font-weight: 700;
  }
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

@media (max-width: 680px) {
  .home-container {
    padding: 0;
  }
}

.pacotes-container {
  background: #f6a532;
}

.app-pacotes-container {
  max-width: 1200px;
  margin: 0 auto;
}
