<div class="img-container">
  <span class="hero-text">Escolha suas peças!</span>
</div>

<div class="pacotes-container pacotes">
  <div class="text-container">
    <h1>Conheça nossos pacotes</h1>
    <p>Escolha seu itens, monte seu pacote e deixe a magia acontecer!</p>
  </div>
  <div class="app-pacotes-container">
    <app-pacotes-container></app-pacotes-container>
  </div>
</div>

<div class="home-container">
  <div class="text-container">
    <h1>Conheça nossos itens</h1>
    <p>
      Sua comemoração começa aqui, com itens que transformam momentos em
      memórias!
    </p>
  </div>
  <app-itens-container></app-itens-container>
</div>
